h3{
    font-size: 1.5em;
    font-variant: small-caps;
    font-family: 'Fjalla One';
    
}
p{
	text-align: center;
	font-family: 'Shadows Into Light';
	font-size: 20px;
	border: 2px solid silver;
}
div.theAffNum{
    width: 131px; 
    height: 19px;
    border: 2px solid silver;
    padding: 2px;
}
li{
	font-family: 'Fjalla One';
	font-size: 20px;
	padding: 2px;
}
body{
   background-color: #487fd6; 
}
