.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px 20px;
}
img{
    display: block;
    border: 1px solid #ddd;
    margin: auto;
    opacity: .5%;
}
body{
                    background: purple;
                    background-size: cover;
                    background-position: center;
                }
                h1{
                    text-align: center;
                    font-family: Fjalla One;
                    font-size: 40px;
                    color: #002d77;
                    word-spacing: 2px;
                }
                .bottomleft {
                    position: absolute;
                    bottom: 0px;
                    left: 16px;
                    font-size: 14px;
                    font-family: Fjalla One;
                }
                h2{
                    text-align: center;
                    font-family: Shadows Into Light;
                    color: #00487c;
                    font-size: 25px;
                    word-spacing: 0px;
                }
                p{
                    text-align: left;
                    font-family: Fjalla One;
                    color: #250689;
                    font-size: 18px;
                }
                li{
                    font-family: Arial;
                    color: #1d1d91;
                    font-size: 15px;
                }
                input{
                    padding: 10px;
                    font-family: Shadows Into Light;
                }
                input[type="Submit"] {
                    background: #2f82d6;
                    color: #38c942;
}
